name: CI_1.1

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CSV_URL: "https://raw.githubusercontent.com/dxzwhite10/Workflow-CI/refs/heads/main/MLProject/namadataset_preprocessing/train_df.csv"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - uses: actions/checkout@v3

      # Setup Python
      - name: Set up Python 3.12.0
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.0"

      # Cek env
      - name: Check Env
        run: echo $CSV_URL

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas

    
